body .loading {
    background: url(https://cdn.dribbble.com/users/475723/screenshots/2666648/loading-animation.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: white;
    min-height: 650px;
    max-height: 1000px
}